<a href="https://colab.research.google.com/github/yashj0511/Data-science/blob/main/pandasexercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1
# import pandas as pd 
import pandas as pd  
      
# List1  
lst = [['Geek', 25], ['is', 30], 
       ['for', 26], ['Geeksforgeeks', 22]] 

# creating df object with columns specified    
df = pd.DataFrame(lst, columns =['Tag', 'number']) 
print(df)

             Tag  number
0           Geek      25
1             is      30
2            for      26
3  Geeksforgeeks      22

In [ ]:
#2
# Python code demonstrate creating
# DataFrame from dict narray / lists
# By default addresses.

import pandas as pd

# initialise data of lists.
data = {'Category':['Array', 'Stack', 'Queue'],
		'Marks':[20, 21, 19]}

# Create DataFrame
df = pd.DataFrame(data)

# Print the output.
print(df )

  Category  Marks
0    Array     20
1    Stack     21
2    Queue     19

In [ ]:
#3

# Import pandas library
import pandas as pd

# initialize list of lists
data = [['Geeks', 10], ['for', 15], ['geeks', 20]]

# Create the pandas DataFrame
df = pd.DataFrame(data, columns = ['Name', 'Age'])

# print dataframe.
print(df )

    Name  Age
0  Geeks   10
1    for   15
2  geeks   20

In [ ]:
#4
# import pandas to use pandas DataFrame
import pandas as pd

# data in the form of list of tuples
data = [('Peter', 18, 7),
		('Riff', 15, 6),
		('John', 17, 8),
		('Michel', 18, 7),
		('Sheli', 17, 5) ]


# create DataFrame using data
df = pd.DataFrame(data, columns =['Name', 'Age', 'Score'])

print(df)

     Name  Age  Score
0   Peter   18      7
1    Riff   15      6
2    John   17      8
3  Michel   18      7
4   Sheli   17      5

In [ ]:
#5.1
# Python code demonstrate how to create
# Pandas DataFrame by lists of dicts.
import pandas as pd
	
# Initialise data to lists.
data = [{'Geeks': 'dataframe', 'For': 'using', 'geeks': 'list'},
		{'Geeks':10, 'For': 20, 'geeks': 30}]
	
# Creates DataFrame.
df = pd.DataFrame(data)
	
# Print the data
df

       Geeks    For geeks
0  dataframe  using  list
1         10     20    30

In [ ]:
#5.2
# Python code demonstrate how to create
# Pandas DataFrame by lists of dicts.
import pandas as pd
	
# Initialise data to lists.
data = [{'Geeks': 'dataframe', 'For': 'using', 'geeks': 'list'},
		{'Geeks':10, 'For': 20, 'geeks': 30}]
	
# Creates DataFrame.
df = pd.DataFrame(data, index =['ind1', 'ind2'])
	
# Print the data
df

In [ ]:
#5.3
# Python code demonstrate how to create
# Pandas DataFrame by lists of dicts.
import pandas as pd
	
# Initialise data to lists.
data = [{'Geeks': 'dataframe', 'For': 'using', 'geeks': 'list'},
		{'Geeks':10, 'For': 20, 'geeks': 30}]
	
# With two column indices, values same
# as dictionary keys
df1 = pd.DataFrame(data, index =['ind1', 'ind2'],
					columns =['Geeks', 'For'])
	
# With two column indices with
# one index with other name
df2 = pd.DataFrame(data, index =['indx', 'indy'])
	
# print for first data frame
print (df1, "\n")
	
# Print for second DataFrame.
print (df2)

          Geeks    For
ind1  dataframe  using
ind2         10     20

          Geeks    For geeks
indx  dataframe  using  list
indy         10     20    30